*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;

}
ul, oi{
    list-style: none;
}

/* =================================
    common css end
===================================== */

/* =================================
      navbar part start
==================================== */
nav{
    background: #1C1E53;
    padding: 16px 0px;
}
.navbar-nav{
    column-gap: 32px;
}
.nav-link{
    color: #a0a0b3;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 0px !important;
    transition: .5s;
}
.nav-link:hover{
    color: white;
}
.button{
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 16px 48px;
    border: 1px solid #BBBBCB;
    border-radius: 41px;
    margin-left: 48px;
    transition: .5s;
}
.button:hover{
    background: #747171;
    color: white;
}

/* =================================
      navbar part end
==================================== */
/* =================================
      banner part start
==================================== */
.banner-part{
    background: #1C1E53;
    padding: 128px 0px;
}
.text h1{
    color: white;
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}
.text p{
    width: 562px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-top: 24px;
    margin-bottom: 48px;
}
.view{
    background: #FCD980;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    border-radius: 41px;
    padding: 16px 56px;
    font-family: "Manrope", sans-serif;
    transition: .5s;
}
.view:hover{
    background: #f1f0ef;
}
.price{
    color: white;
    margin-left: 40px;
    position: relative;
}
.icon{
    position: absolute;
    opacity: 0;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
}
.price:hover .icon{
    left: 110px;
    opacity: 1;
}
/* =================================
      banner part end
==================================== */
/* =================================
      work part start
==================================== */
.work{
    padding: 128px 0px;

}
.wro h2{
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    font-family: "Poppins", sans-serif;

}
.wro p{
    width: 405px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    margin-top: 16px;
    margin-bottom: 16px

}
.work .box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.work .box .item{
    width: 50%;
}
.work .box .item h5{
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    font-family: "Poppins", sans-serif;

}
.work .box .item p{
    width: 303px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    margin-top: 8px;
    margin-bottom: 48px;

}
.work .bd{
    position: relative;
    display: inline-block;
} 
.work .bd-icon{
    position: absolute;
    left: 145px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: .5s;
}
.work .bd:hover .bd-icon{
    left: 160px;
    opacity: 1;
}
/* =================================
      work part end
==================================== */
/* =================================
      project part start
==================================== */
.project{
    padding: 128px 0px;

}
.project .trx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.project h3{
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    font-family: "Poppins", sans-serif;
}
.project .bnm a{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    position: relative;
}
.project .bnm .trx-icon{
    position: absolute;
    top: 50%;
    left: 85px;
    transform: translateY(-50%);
    opacity: 0;
    transition: .5s;
}
.project .bnm:hover .trx-icon{
    left: 100px;
    opacity: 1;
}

.project .item-img{
    width: 415px;
    height: 284px;
    margin-bottom: 32px;
}
.project .project-box{
    position: relative;
}
.project .overly h6{
    width: 313px;
    color: #ffffff;
    margin: 312px 35px 16px 48px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    font-family: "Poppins", sans-serif;
}
.project .overly p{
    width: 293px;
    color: #ffffff;
    margin: 0px 55px 40px 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Poppins", sans-serif;

}
.project .overly a{
    color: #FCD980;
    margin: 0px 76px 208px 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Poppins", sans-serif;

}

.project .overly{
    position: absolute;
    background:linear-gradient(rgba(28, 30, 83, 0.70),#1C1E53);
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0px;
    transform: scaleX(0);
    transition: .5s;
    transform-origin: left;
}
.project .project-box:hover .overly{
    transform: scaleX(1);
    transform-origin: left;
}
.project .project-bd{
    position: relative;
}

.project .overly-box{
    position: absolute;
    background:linear-gradient(rgba(28, 30, 83, 0.644),#1C1E53);
    width: 100%;
    height: 90%;
    top: 0%;
    left: 0px;
    transform: scaleY(0);
    transform-origin: top;
    transition: .5s;
}
.project .overly-box h6{
    color: white;
    margin: 129px 46px 10px 46px ;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    font-family: "Poppins", sans-serif;

}
.project .overly-box a{
    color: #FCD980;
    margin-left: 46px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
}
.project .project-bd:hover .overly-box{
    transform-origin: top;
    transform: scaleY(1);
}
/* =================================
      project part end
==================================== */
/* =================================
      features part start
==================================== */
.features{
    background: #F4F6FC;
    padding: 128px 0;
}
.features .fea-text h6{
    color: #282938;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Poppins", sans-serif;

}
.features .fea-text h2{
    color: #282938;
    width: 630px;
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    font-family: "Poppins", sans-serif;
    padding: 12px 0px 47px 0px;
}
.features .card {
   width: 100% !important;
   padding: 58px 32px 48px 48px;
   border: none;
   border-radius: 0;
     
}
.features .card .card-img-top{
    width: 7%;
}
.features .card .card-body{
    padding: 0;
}
.features .card .card-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    font-family: "Poppins", sans-serif;
    padding: 22px 0px 12px 0px;
} 
.features .card .card-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    
}
.features .row{
    row-gap: 24px;
}
/* =================================
      features part end
==================================== */
/* =================================
      about part start
==================================== */
.about {
    padding: 130px 0px;
    background: #F4F6FC;
}
.about h3{
    width: 327px;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    font-family: "Poppins", sans-serif;
    

}
.about p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    padding-top: 16px;
    
}
.about h4{
    width: 843px;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    font-family: "Poppins", sans-serif;
}
.about .about-wrp{
    padding: 51px 0px ;
    display: flex;
}
.about .about-img{
    width: 52px;
    height: 52px;
    
   
}
.about .about-text{
    padding-left: 14px;


}
.about .about-text h5{
    width: 183px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
   
    
}
.about .about-text p{
    width: 183px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 0px;
   
    
}

/* =================================
      about part end
==================================== */
/* =================================
      FAQ part start
==================================== */
.faq{
    padding: 128px;
}
.faq .faq-text1 h3{
    width: 328px;
    font-size: 38px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-bottom: 16px;

}
.faq .faq-text1 a{
    width: 220px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.faq .accordion-item{
    border: none;
}
.faq .accordion-button{
    color: #282938;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.faq .accordion-body{
    color: #282938;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 0 105px;
    padding-bottom: 30px;
    border-bottom: 2px solid #ECECF1;
} 
.faq .accordion-button span{
    color: #2405F2;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-right: 60px;
}
.faq .accordion-button::after{
    content: "+";
    background-image: none !important;
    transform: rotate(0);
    transform: translateY(-50%);

}
.faq .accordion-button:not(.collapsed)::after {
    content: "x";
    transform: rotate(0);
    transform: translateY(-50%);
}
/* =================================
      FAQ part end
==================================== */
/* =================================
      inqure part start
==================================== */
.inqure{
    padding: 128px 0px 77px 0px;
}
.inqure .img-qure{
    height: 100%;
    position: relative;
    overflow: hidden;
}
.inqure .img-qure img{
    width: 100%;
}
.inqure .cov{
    background: #1C1E5380;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: .5s;
}
.inqure .img-qure:hover .cov{
    left: 0px;
}
.inqure .cov h4{
    color: white;
    font-size: 54px;
    line-height: 74px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding: 96px 96px 0px 96px;
}
.inqure .cov p{
    color: white;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 24px 96px 261px 96px;
}
.inqure-part2{
    height: 100%;
    background: #1C1E53;
    padding-left: 96px;
    padding-right: 90px;
}
.inqure-part2 h4{
    color: white;
    font-size: 32px;
    line-height: 48px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 96px;
}
.inqure-part2 p{
    color: white;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 8px;
    padding-bottom: 28px;
}

.inqure .inqure-part2 input{
    width: 100%;
    padding: 18px 32px;
    background: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.051);
    margin: 10px 0px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: white;
}
.inqure .inqure-part2 input::placeholder{
    color: #F4F6FC;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
.inqure .inqure-part2 button{
    width: 100%;
    padding: 16px 150px;
    background: #FCD980;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    border-radius: 41px;
    color: #1B1C2B;

}
.inqure .inqure-part2 a{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    position: relative;
    padding-left: 94px ;
   
}
.inqure .gg{
    padding-top: 20px;
}
.inqure .inqure-part2 i{
    position: absolute;
    left: 284px;
    top: 60%;
    transform: translateY(-50%);
    opacity: 0;
    transition: .5s;
}
.inqure .inqure-part2 a:hover i{
    left: 295px;
    opacity: 1;
}
/* =================================
      inqure part end
==================================== */
/* =================================
      blog part start
==================================== */
.blog .card img{
    border-radius: 0px !important;
}
.blog .blog-top{
    color: #282938;
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-bottom: 64px;

}
.blog .card{
    width: 405px !important;
    border: 0px;
}
.blog .card-body{
    padding-left: 0px !important;
    padding-bottom: 179px;
}
.blog .card .card-title{
    color: #282938;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 16px;
    padding-bottom: 16px;
}
.blog .card .card-text{
    color: #282938;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-bottom: 32px;
}
.blog .card a{
    color: #282938;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    position: relative;
}
.blog .card i{
    position: absolute;
    top:30%;
    left: 100px;
    transform: translateX(-30%);
    transition: .5s;
    opacity: 0;
}
.blog a:hover i{
    left: 110px;
    opacity: 1;
}

/* =================================
      blog part end
==================================== */
/* =================================
      footer part start
==================================== */

.footer{
    background: #1C1E53;
    padding: 100px;
}
.footer p{
    color: #FFFFFF;
    width: 399px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 22px;
}
.footer .footer-part2 h3{
    color: #FFFFFF;
    width: 333px;
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}
.footer .footer-part2 p{
    color: #FFFFFF;
    width: 399px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
.footer .icon{
   background: white;
}
/* =================================
      footer part end
==================================== */